@media screen and (min-width: 320px) {
  .profile__form {
    grid-template-columns: repeat(2, 130px);
    column-gap: 10px;
  }
}

@media screen and (min-width: 768px){
  .profile__form {
    grid-template-columns: repeat(2, 140px);
    column-gap: 145px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__title {
    font-size: 24px;
    line-height: 29px;
  }

  .profile__form {
    margin: 113px auto 0;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.profile__title {
  font-family: Inter, sans-serif;
  font-style: normal;
  text-align: center;
  color: #000000;
  margin: 0 0 80px 0;
  font-weight: 500;
}


.profile__form {
  display: grid;
}

.profile__form:nth-of-type(2n){
  border-top: 1px solid #E8E8E8;
  margin: 0;
}

.profile__label {
  color: #000000;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  line-height: 13px;
  margin: 0 0 0 8px;
  padding-top: 10px;
}

.profile__span {
  height: 46px;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  padding-top: 0px;
  text-align: right;
  outline: none;
  border: none;
}

.profile__edit-button {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  justify-self: flex-end;
  padding-top: 15px;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  margin-bottom: 16px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.profile__enter-link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FF3055;
  text-decoration: none;
}

.profile__enter-link:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.profile__footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
