@media screen and (min-width: 320px) {
  .header {
    padding: 18px 14px;
  }

  .header__login-button {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }

  .header__register-button {
    font-size: 10px;
  }

  .header__buttons {
    margin-top: 6px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 20px 30px;
  }

  .header__buttons {
    margin: 0;
  }

  .header__register-button {
    font-size: 12px;
    line-height: 16px;
    margin-right: 25px;
  }

  .header__login-button {
    width: 76px;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 18px 70px;
  }
  
  .header__login-button {
    height: 32px;
    width: 76px;
    font-size: 12px;
  }
  
  .header__register-button {
    font-size: 12px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #073042;
}

.header__register-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #FFFFFF;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__login-button {
  color: #000000;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  background-color: #2BE080;
  border: none;
  border-radius: 3px;
}