@media screen and (min-width: 320px) {
  .register {
    align-items: center;
    margin: 56px 30px;
  }
  .register__form {
    width: 260px;
  }

}

@media screen and (min-width: 768px){
  .register {
    justify-content: center;
    align-items: start;
    width: 396px;
    margin: 70px auto;
  }
}
.register {
  display: flex;
  flex-direction: column;
}

.register__title {
  margin: 40px 0 0 0;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: #000;
}

.register__form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.register__label {
  color: #A0A0A0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  margin-bottom: 15px;
}

.register__input {
  background-color: #F9F9F9;
  height: 46px;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 18px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}

.register__button {
  margin-top: 65px;
  background-color: #3456F3;
  border-radius: 3px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  height: 45px;
  border: none;
}

.register__button:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.register__enter-text {
  text-align: center;
  color: #A0A0A0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin: 16px 0;
}

.register__enter-link {
  text-decoration: none;
  color: #3456F3;
}

.register__enter-link:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

