@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./components/Header/Header.css');
@import url('./components/Register/Register.css');
@import url('./components/Login/Login.css');
@import url('./components/Promo/Promo.css');
@import url('./components/AboutProject/AboutProject.css');
@import url('./components/Techs/Techs.css');
@import url('./components/AboutMe/AboutMe.css');
@import url('./components/Portfolio/Portfolio.css');
@import url('./components/Footer/Footer.css');
@import url('./components/SearchForm/SearchForm.css');
@import url('./components/FilterCheckbox/FilterCheckbox.css');
@import url('./components/Movies/Movies.css');
@import url('components/MoviesCard/MoviesCardList.css');
@import url('./components/Error/Error.css');
@import url('./components/Profile/Profile.css');
@import url('./components/SavedMovies/SavedMovies.css');

#root {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}